body{
    background-color:#EFE7E3;
   
}
.frame{
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}

/*navigator bar */

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
li{
    display: inline;
    align-self:center;
    margin: 0;
    margin-left: 15px;
}

ul{
    
    margin: 0;
}

.site.name {
    margin: 0;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size:40px ;
    color: #C2B4AB;
}

.nav-menu{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size:16px ;
    
}


a{
     color: black;
     text-decoration: none;
}

a:hover{
    color:green;
    transition: 0.3s;
}
 
 
.highlite:hover{
    background-color: pink
    
}

.typea:hover{
    background-color: yellowgreen;
}

/*recent works */

.recent-menu{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
    font-weight: 700;
    color: #C2B4AB;

    text-align: right;
    margin-top: 100px;
}

/*footer*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:130px ;
}

.contact{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

.links>a{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 20px;
    font-weight:400 ;
    margin-left: 15px;
}

.footer>p{
    font-family: 'Besley', serif;
    font-size: 15px;
    font-weight:100 ;
    font-style: italic;
    margin: 0;
    margin-top: 5px;

}

.city{
    margin-top:20px ;
    margin-bottom: 12px;
}
.city>p{
    margin:0 ;
    margin-top: 0;
    margin-bottom: -200px;
}

/*info section*/

/*profil-section*/

.profil-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;
}

#profil-picture{
    width: 350px;
    height: 400px;
    margin-right: 60px;
}

.introduction>h2{
    margin-top: 0px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 30px;
}

